@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Welcome To Grand Circus Coffee Shop</h1>
        <h3>Beans on Beans on Beans</h3>

        <h4> @DateTime.Now</h4>
        <a class="display-4" asp-area="" asp-controller="Database" asp-action="Register">Registration</a>
    </div>
